.column {
    background: var(--column-color);
    flex: 1;
    min-height: 25vh;
    max-height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.6rem;
    overflow: hidden;
    height: 1000px;
}

.column__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

.column__title {
    margin: 0.7rem 1rem;
}

.column__add-button {
    margin: 0.7rem 1rem;
    background: var(--add-btn-bg);
    color: var(--add-btn-text);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    opacity: 0.5;
}

.column__header--todo { background: var(--todo-color); }
.column__header--doing { background: var(--doing-color); }
.column__header--done { background: var(--done-color); }

.tasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 0.6rem;
    gap: 0.2rem;
    align-items: center;
}

.tasks::-webkit-scrollbar {
    width: 6px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
}

.tasks::-webkit-scrollbar-thumb {
    background: #00000040; 
    border-radius: 3px;
    transition: background 0.2s;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: #00000059; 
}