.task {
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.1);
    cursor: grab;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task:focus {
    outline: 3px solid var(--medium-color);
}

.task__title {
    font-weight: 700;
}

.task__note {
    font-size: 0.8rem;
    opacity: 0.7;
}

.task__priority {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    width: fit-content;
    border-left: 4px solid;
}

.task__priority--low {
    border-left-color: var(--low-color);
}

.task__priority--medium {
    border-left-color: var(--medium-color);
}

.task__priority--high {
    border-left-color: var(--high-color);
}