@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --note-color: #b0b0b0;
}

body.dark-mode {
    --low-color: #4274c5;
    --medium-color: #ffcc00;
    --high-color: #c72f2f;
    --todo-color: #e2435a;
    --doing-color: #fdac41;
    --done-color: #02c777;
    --bg-color: #171b36;
    --column-color: #40445f;
    --text-color: #fcffff;
    --edit-btn: #3f425f;
    --edit-btn-hover: #4b4d6e;
    --btn-text: #fcffff;
    --delete-btn: #5f3f3f;
    --delete-btn-hover: #6e4b4b;
    --add-section-bg: #ffffff08;
    --text-area: #fcffff;
    --edit-text-color: #171b36;
    --focus-color: #171b36;
    --cancel-btn: #3a3d63;
    --cancel-btn-hover: #4b4d6e;
    --confirm-btn: #2c2f4a;
    --confirm-btn-hover: #383b5c;
    --border-color: #ffffff1f;
    --add-btn-bg: #fcffff;
    --add-btn-text: #171b36;
}

body.light-mode {
    --low-color: #4a90e2;
    --medium-color: #f5a623;
    --high-color: #e94e4e;
    --todo-color: #f28b8b;
    --doing-color: #f7c47a;
    --done-color: #7bd8a6;
    --bg-color: #ffffff;
    --column-color: #ecebeb;
    --text-color: #1e1e1e;
    --edit-btn: #6b6fc0;
    --edit-btn-hover: #5f63a8;
    --btn-text: #ffffff;
    --delete-btn: #d87c7c;
    --delete-btn-hover: #c76666;
    --add-section-bg: #e2e2e2;
    --text-area: #ffffff;
    --edit-text-color: #1e1e1e;
    --focus-color: #909097;
    --cancel-btn: #81a4ff;
    --cancel-btn-hover: #6b8fff;
    --confirm-btn: #4a75ff;
    --confirm-btn-hover: #3b5dcc;
    --border-color: #c0c0c0;
    --add-btn-bg: #fcffff;
    --add-btn-text: #171b36;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow: auto;
}

.btn {
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.btn:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 2rem;
        overflow: auto;
    }
}